* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif !important;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

::selection {
  background-color: var(--primary-color);
  color: #000;
}

:root {
  --primary-color: #3bb77e;
  --card-color: #e8e8e8b9;
  --white-color: #fff;
  --text-color: #333;
  --black-color: #000;
  --button-hover-color: #1e965e;
  --background-color: #ffffff;
}